


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      
      <div class="fadeIn first">
        <img
          src="http://cdn.shopify.com/s/files/1/0538/8242/1442/files/Feyel_claim-try.jpg?v=1618495488"
          id="icon"
          alt="User Icon"
        />
      </div>
      <br />
      <mat-label class="h4">Analyse sensorielle</mat-label>

      <!-- Login Form -->
      <form id="loginform" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <p
          *ngIf="!connected"
          id="login-alert"
          class="alert alert-danger col-sm-12"
        >
          Erreur lors de la connexion. Vérifiez votre nom d'utilisateur et votre
          mot de passe.
        </p>
        <input
          mat-input
          type="text"
          formControlName="email"
          id="email"
          #email
          class="fadeIn second"
          name="email"
          placeholder="Email"
        />
        <div
          *ngIf="signinForm.controls['email'].invalid && !correctForm"
          class="alert alert-danger"
        >
          <div
            *ngIf="signinForm.controls['email'].errors?.['required']  && !correctForm"
          >
            L'email est obligatoire.
          </div>
        </div>

        <input
          mat-input
          id="password"
          formControlName="password"
          #password
          type="password"
          class="fadeIn third"
          name="password"
          placeholder="Mot de passe"
          mat-input
        />

        <div
          *ngIf="signinForm.controls['password'].invalid && !correctForm"
          class="alert alert-danger"
        >
          <div *ngIf="signinForm.controls['password'].errors?.['required']  ">
            Le mot de passe est obligatoire.
          </div>
        </div>

        <input
          type="submit"
          class="fadeIn fourth"
          value="Se connecter"
          (click)="Log(email.value, password.value)"
        />
        <div>
          Je n'ai pas encore de compte :
          <a class="underlineHover" href="/create-account"> Créer un compte</a>
        </div>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié?</a>

  </div>

<!-- 
<button mat-button (click)="Log()"> Login</button>
<button mat-button (click)="insert_doc()"> Inserer</button> -->
