


  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="http://cdn.shopify.com/s/files/1/0538/8242/1442/files/Feyel_claim-try.jpg?v=1618495488"
        id="icon"
        alt="User Icon"
      />
    </div>
    <br />
    <div *ngIf="sent else formulaire_aff"> Un mail vient d'etre envoyé à l'adresse renseignée.</div><ng-template #formulaire_aff>
    <mat-label class="h4">Créer un compte</mat-label>

    <!-- Login Form -->
    <form id="loginform" [formGroup]="signinForm">
      <p
        *ngIf="!connected"
        id="login-alert"
        class="alert alert-danger col-sm-12"
      >
        Erreur lors de la création du compte. Vérifiez que les champs soient correctement remplis.
      </p>
      <input
        mat-input
        type="email"
        formControlName="email"
        id="email"
        #email
        class="fadeIn second"
        name="email"
        placeholder="Adresse e-mail"
      />
      <div
        *ngIf="signinForm.controls['email'].invalid && !correctForm"
        class="alert alert-danger"
      >
        <div
          *ngIf="signinForm.controls['email'].errors?.['required']  && !correctForm;else incorrect_mail"
        >
          L'email est obligatoire.
        </div>
        <ng-template #incorrect_mail>Veuillez entrer un e-mail valide.</ng-template>
      </div>

      <input
        mat-input
        minlength="6"
        maxlength="128"
        id="password"
        formControlName="password"
        #password
        type="password"
        class="fadeIn third"
        name="password"
        placeholder="Mot de passe"
        mat-input
      />

      <div
        *ngIf="signinForm.controls['password'].invalid && !correctForm"
        class="alert alert-danger"
      >
        <div *ngIf="signinForm.controls['password'].errors?.['required'];else len2  ">
          Le mot de passe est obligatoire.
        </div>
        <ng-template #len2>
        <div *ngIf="confirmedPassword.value.length<6 || confirmedPassword.value.length>128"> 
        Le mot de passe doit contenir entre 6 et 128 caractères.
        </div>
        </ng-template>
      </div>

      <input
        mat-input
        minlength="6"
        maxlength="128"
        id="confirmedPassword"
        formControlName="confirmedPassword"
        #confirmedPassword
        type="password"
        class="fadeIn third"
        name="confirmedPassword"
        placeholder="Confirmer le mot de passe"
        mat-input
      />

      <div
        *ngIf="signinForm.controls['confirmedPassword'].invalid && !correctForm || password.value!=confirmedPassword.value"
        class="alert alert-danger"
      >
        <div *ngIf="signinForm.controls['confirmedPassword'].errors?.['required'];else password_match">
          La confirmation du mot de passe est obligatoire.</div>
          <ng-template #password_match>
          <div *ngIf="password.value!=confirmedPassword.value;else len"> 
          Les mots de passe doivent correspondre.
          </div>
          </ng-template>
          <ng-template #len>
          <div *ngIf="confirmedPassword.value.length<6 || confirmedPassword.value.length>128"> 
          Le mot de passe doit contenir entre 6 et 128 caractères.
          </div>
          </ng-template>
          <!-- <div
          *ngIf="signinForm.controls['confirmedPassword'].value!=signinForm.controls['password'].value"
          class="alert alert-danger"
        > 
      </div>-->
      </div>
      

      <input
        type="submit"
        class="fadeIn fourth"
        value="Se connecter"
        (click)="Log(email.value, password.value)"
      />
    
    </form>
  </ng-template>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      Vous avez déjà un compte ? <a class="underlineHover" href="/login">Se connecter</a>

</div>

<!-- 
<button mat-button (click)="Log()"> Login</button>
<button mat-button (click)="insert_doc()"> Inserer</button> -->
